/* Fonte para títulos */
h1 {
  text-align: center;
  font-family: 'Playfair Display', serif;
  /* elegante e legível */
  font-size: 2.5rem;
  color: #b22222;
  /* vermelho pizza */
  margin: 10px 0;
}

svg, button{
  cursor: pointer;
}

/* Imagem destaque */
#imagem_destaque {
  width: 100%;
  height: 150px;
  object-fit: cover;
  /* mantém proporção da imagem */
  border-bottom: 5px solid #b22222;
  /* detalhe */
}

#endereco {
  text-align: center;
}

/* Container principal */
header {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background-color: #fff8f0;
  /* tom suave */
}

#comprarMais{
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
  font-size: large;
}

#comprarMais:hover{
  transform: scale(1.03);
  box-shadow: 1px 2px 3px black;
}

header button {
  background-color: white;
}

header button:hover {
  box-shadow: 3px 3px 3px black;
  cursor: pointer;
  margin-bottom: 1%;
  margin-top: -1%;
}

#divCarrinhoHeader{
  position: fixed;
  right: 1%;
  bottom: 10%;
  background-color: white;
  z-index: 1000;
}

#divCarrinhoHeader button{
  border: 1px solid black;
  border-radius: 10%;
}


/* Grid de informações */
#header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 20px;
  padding-top: 0%;
  text-align: center;
}

#header h4 {
  font-family: 'Lobster', cursive;
  /* estilo artesanal */
  color: #333;
  margin-bottom: 5px;
}

#header p {
  font-family: 'Lato', sans-serif;
  color: #555;
}

/* Botão maps */
#maps {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(49, 49, 49);
  font-weight: bold;
  transition: background 0.3s;
}

#maps:hover {
  border: 1px solid black;
}

#cartao {
  width: 0.5in;
  height: 0.5in;
}

#previa {
  border-radius: 5px;
  background-color: white;
  position: fixed;
  display: none;
  width: 50%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  left: 1%;
  z-index: 1000;
}

#previa li {
  list-style: none;
  border: 1px solid gray;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: xx-large;
  vertical-align: middle;
}

#previa li img {
  width: 0.5in;
  vertical-align: middle;
  margin-right: 3%;
}

#previa li svg {
  width: 0.5in;
  height: 0.5in;
  vertical-align: middle;
  margin-right: 3%;
}

#previa button {
  margin: 3%;
  background-color: #b22222;
  border: 3px solid black;
  border-radius: 3px;
}

#previa button:hover {
  background-color: rgb(209, 209, 209);
  color: white;
  cursor: pointer;
}

#dupla-esquerda {
  width: 0.3in;
  height: 0.3in;
}

.dPrev {
  padding: 5%;
}

.preco {
  color: red;
}

#pizzas {
  text-align: center;
  padding: 0;
}


#pizzas li {
  list-style: none;
  text-align: left;
  padding-left: 3%;
  padding-bottom: 1%;
  box-shadow: 2px 2px 2px gray;
  border-radius: 5px;
  border-left: 3px solid red;
}

#pizzas li:hover {
  box-shadow: 4px 4px 3px gray;
  transform: scale(1.01);
}

#bebidas {
  display: none;
}

#sabores {
  display: none;
}

.retorno {
  width: 0.3in;
  height: 0.3in;
  color: #000;
  cursor: pointer;
}

.barra_superior {
  background-color: rgb(255, 217, 0);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  position: fixed;
  width: 98%;

  transform: translateX(-50%);
  left: 50%;
}

.barra_superior h3 {
  flex: 1;
  /* ocupa espaço central */
  text-align: center;
  /* centraliza o texto dentro do espaço */
}

.barra_superior button {
  flex: 0;
  /* não cresce, fica fixo */
  background-color: transparent;
  border: 0px solid;
}



.inferior {
  position: fixed;
  box-shadow: -1px -1px 3px;
  width: 98%;
  transform: translateX(-50%);
  left: 50%;
  bottom: 1%;
  padding: 1%;
  background-color: rgb(255, 255, 255);
}

.inferior p {
  text-align: center;

}

.inferior button {
  border: 0px solid;
  border-radius: 10px;
  background-color: red;
  color: white;
  width: 90%;
  font-size: larger;
}

.inferior button:hover {
  transform: scale(1.01);
  box-shadow: 3px 3px 3px black;
}

.preco {
  font-size: larger;
  font-weight: bold;
}

.total {
  display: inline;
}

.total span {
  font-size: x-large;
  font-weight: bold;
}

.base {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.base button {
  height: 100%;
}

.lista {
  display: flex;
  gap: 1px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
}

.lista li {
  list-style: none;
  color: black;
  border-left: 2px solid rgb(0, 0, 0);
  padding-right: 5px;
  padding-left: 1px;

}


#sabores_pizza {
  padding-top: 5%;
  padding-bottom: 10%;
  padding-left: 0;
  padding-right: 0;
}

#sabores_pizza li {
  display: flex;
  list-style: none;
  border: 1px solid gray;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  vertical-align: middle;

  width: 100%;
}

#sabores_pizza li div {
  vertical-align: middle;
}

.dp {
  width: 2in;
  margin-left: auto;
  text-align: right;

}

.dp button {
  display: inline;
  font-size: xx-large;
  background-color: transparent;
  border-radius: 5px;
  padding: 5%;
  border: 0px solid;
}

.dp p {
  display: inline;
  padding: 3%;
  font-size: x-large;
}

.dp button:hover {
  background-color: rgb(209, 209, 209);
  color: white;
  cursor: pointer;
}

#lista_bordas {
  display: grid;
  gap: 1%;
  padding-top: 5%;
  padding-bottom: 25%;
  padding-left: 0;
}


#lista_bordas li {
  display: flex;
  list-style: none;
  box-shadow: 1px 1px 3px black;
  border-radius: 3px;
  padding: 1%;
  padding-bottom: 0%;
}

#lista_bordas li input {
  margin-left: auto;

}

#lista_bordas li:hover {
  transform: scale(1.01);
}

/*carrinho tem 2 tipos de lista, pizzas e bebidas, .carrinho serve pras duas listas*/

.carrinho {
  list-style: none;
  border-radius: 3px;
  gap: 1%;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 0;
}

.carrinho button{
  font-size: 0.3in;
  background-color: transparent;
  border: 0px solid transparent;
}

.carrinho ul {
  list-style: none;
}

.sabores_carrinho {
  box-shadow: 1px 1px 3px black;
  border-radius: 5px;
  padding: 1%;
  display: flex;
  margin-bottom: 1%;
}

#pizza_carrinho{
  padding-top: 5%;
}


#pizza_carrinho .borda{
  padding-top: 1%;
  padding-bottom: 1%;

}

#lixo{
  width: 0.3in;
  height: 0.3in;
  color: red;
}

.dp_carrinho{
  margin-left: auto;
  display: grid;
  grid-template-columns: 1fr;
}






/* Layout para telas menores (celular) */
@media (max-width: 10in) {
  /*TODO a lista do carrinho precisa de um padding bottom grande pra barra inferior não cobrir os pedidos*/


  h1 {
    font-size: 1.8rem;
    /* diminui o título */
  }

  #imagem_destaque {
    height: 150px;
    /* reduz altura da imagem */
  }

  header {
    width: 100%;
  }

  #previa {
    width: 100%;
  }

  #sabores_pizza {
    padding-top: 20%;
    padding-bottom: 40%;
  }


  #lista_bordas {
    padding-top: 18%;
    padding-bottom: 45%;
  }


}